body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eeeeee;
}

.team-card {
  font-family: 'Questrial', sans-serif;
  background-color: #ffffff;
  border: 3px solid #333;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: .5s ease-in-out;
}

.team-card:hover {
  cursor: pointer;
  border-radius: 10%;

}

.team-card img {
  width: 300px;
  height: 200px;
  border-radius: 5%;
  margin-bottom: 10px;
  transition: .5s ease-in-out;
}

.team-card:hover img {
  border-radius: 10%;
}

.team-card h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}


.team-card p {
  margin: 10px 0;
  font-size: 16px;
  color: #383838;
}


/* Styles for social media icons */
.social-icons {
  margin-top: 20px; /* Adjust the spacing as needed */
  text-align: center;

}

.social-icons a {
  display: inline-block;
  margin: 0 10px; /* Adjust the spacing between icons as needed */
}

.social-icons img {
  width: 30px; /* Adjust the icon size as needed */
  height: 30px;
  transition: transform 0.5s ease-in-out;
}

.social-icons a:hover img {
  transform: scale(1.2); /* Add a hover effect to enlarge icons */
}
